
@{
    ViewData["Title"] = "Profile";
}

<h1>User Profile</h1>

<p>
    <a asp-action="OwnAuctions">Own Auctions</a> |
    <a asp-action="AuctionsIBidOn">Auctions I've Bid On</a> |
    <a asp-action="AuctionsIWon">Auctions I've Won</a>
</p>