@model IEnumerable<OnlineAuctionApplication.ViewModels.BidVM>

@{
    ViewData["Title"] = "ListBids";
}

<h1>Bids</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Bid (SEK)
            </th>
            <th>
                Time Created
            </th>
            <th>
                Username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bidder.Username)
            </td>
        </tr>
}
    </tbody>
</table>
